/* removes safari bubble select boxes */
* {
	-webkit-appearance:none;
}
html, body {
	height: 100%;
	width: 100%
	margin: 0;
	padding: 0;
}
body {
	background-color: #e3e2ee;
	overflow: scroll;
}
#outer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#title {
	display: flex;
	width: 90%;
	margin-bottom: 5%;
	margin-top: 5%;
	justify-content: center;
	align-items: center;
}
#inner {
	width: 90%;
	height: 400px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%
}
#can {
	position: absolute;
	width: 100%;
	z-index: -1;
}
embed {
	width: 100%;
	height: 100%;
	max-width: 500px;
}
form {
	margin-top: 20%;
	width: 80%;
	height: 50%;
	max-width: 500px;
}
select {
	/* positioning */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	text-align: center;
	text-align-last: center;
	max-width: 250px;

	/* design */
	background-color: #730a0a;
	border: 0;
	font-size: 15px;
	font-family: "New Courier", Courier, monospace;
	padding: 10px;
	border-radius: 10px;
	color: #e3e2ee;
	width: 80%;
}
/* Removing focus bars */
*:focus {
	outline: none;
}
#submit {
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* design */
	background-color: #730a0a;
	border: 3px solid #e3e2ee;
	font-size: 25px;
	font-family: Courier;
	color: #e3e2ee;
	width: 80%;
	border-radius: 20px;
	max-width: 250px;
}
#submit:active, select:active {
	background-color: #a61f1f;
}
#submit:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}