/* removes safari bubble select boxes */
* {
	border: 1px solid red;
	-webkit-appearance:none;
}
html, body {
	height: 100%;
	width: 100%
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background-color: #e3e2ee;
	overflow: scroll;
}
table {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
div {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
div.outer-wrapper {
	width: 100%;
}
embed {
	display: block;
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
#can {
	margin-bottom: 0;
	position: relative;
}
form {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	max-width: 500px;
	transform: translateY(-20%);
}
select {
	/* positioning */
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	text-align-last: center;

	/* design */
	background-color: #730a0a;
	border: 0;
	font-size: 25px;
	font-family: "New Courier", Courier, monospace;
	padding: 10px;
	border-radius: 10px;
	color: #e3e2ee;
	width: 80%;
}
/* Removing focus bars */
*:focus {
	outline: none;
}
#submit {
	display: block;
	margin-left: auto;
	margin-right: auto;

	/* design */
	background-color: #730a0a;
	border: 3px solid #e3e2ee;
	font-size: 35px;
	font-family: Courier;
	color: #e3e2ee;
	width: 80%;
	border-radius: 20px;
}
#submit:active, select:active {
	background-color: #a61f1f;
}
#submit:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}